.fragment.red {
  color: red;
}
/* 
* {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
} */
::before,
::after {
  box-sizing: inherit;
}

.wrap {
  display: flex;
  gap: .75em;
  margin: 1em;
  text-align: end
}

.col1 {
  display: flex;
  flex-direction: column;
}

.col1 .author {
  align-self: end;
  font-size: .5em
}

div img {
  max-width: 100%;
  height: auto;
  display: block;
}

span {
  align-self: end;
}